<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f

	RewriteRule ^([^/]+)/([^/]+)$ sms.php?emojy=$1&query=$2 [L,QSA,NC]

    # this can work as well
	#RewriteRule ^(❤)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😍)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(🙈)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😂)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(💋)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😎)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(💯)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😉)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😈)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😜)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(🎉)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😋)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(🎈)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😃)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😏)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
    #RewriteRule ^(😅)(.+?)/([^/]+)$ sms.php?emojy=$1$2&query=$3 [L,QSA,NC]
</IfModule>